@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primary-color: #4CAF4F;
  --secondary-color: #263238;
  --info-color: #2194f3;
  --black-color: #263238;
  --dgrey-color: #4D4D4D;
  --grey-color: #717171;
  --lgrey_color: #89939E;
  --grey-bluie-color: #ABBED1;
  --silver-color: #F5F7FA;
  --white-color: #FFF;
  --shade1-color: #43A046;
  --shade2-color: #388E3B;
  --shade5-color: #237D31;
  --shade3-color: #1B5E1F;
  --shade4-color: #103E13;
  --tint1-color: #66BB69;
  --tint2-color: #81C784;
  --tint3-color: #A5D6A7;
  --tint4-color: #C8E6C9;
  --tint5-color: #E8F5E9;
  --warning-color: #FBC02D;
  --error-color: #E53835;
  --success-color: #2E7D31;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: 600;
  margin: 0;
  color: var(--neutral-dgray-color);
}

h1 {
  font-size: 64px;
  line-height: 76px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

p {
  color: var(--neutral-gray-color);
}

a {
  text-decoration: none;
  color: black;
}

.green_text {
  color: var(--primary-color);
  display: block;
}

.gray_text {
  color: #89939E;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  align-self: flex-start;
  cursor: pointer;
}

.header {
  background-color: #F5F7FA;
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 18px;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  gap: 50px;
  font-size: 16px;
}
.header__item .is_current {
  font-weight: 500;
}
.header__actions {
  display: flex;
  gap: 14px;
}
.header__actions .btn--login {
  background-color: #F5F7FA;
  color: var(--primary-color);
}

.hero {
  background-color: #F5F7FA;
  padding: 96px 0 16px 0;
  display: flex;
  margin-bottom: 40px;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero .btn--register {
  padding: 14px 32px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.hero__dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 70px;
}
.hero__dot {
  height: 10px;
  width: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  opacity: 30%;
  border: none;
}
.hero__dot--active {
  opacity: 100%;
}

.clients {
  margin-bottom: 40px;
}
.clients__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.clients__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.clients__list {
  display: flex;
  gap: 136px;
}

.community {
  margin-bottom: 80px;
}
.community__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.community__title {
  text-align: center;
}
.community__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.community__card {
  padding: 24px 36px;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
  border-radius: 8px;
}
.community__card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 227px;
  gap: 8px;
}
.community h3 {
  font-weight: 700;
  margin-top: 8px;
}
.community p {
  font-size: 14px;
  line-height: 20px;
}

.unlock {
  margin-bottom: 48px;
}
.unlock__inner {
  display: flex;
  align-items: center;
  gap: 49px;
}
.unlock__content {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.unlock__content p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.achievements {
  margin-bottom: 48px;
  background-color: #F5F7FA;
  padding: 64px 0;
}
.achievements__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.achievements__info {
  max-width: 411px;
}
.achievements__info p {
  font-size: 16px;
  line-height: 24px;
}
.achievements__stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 30px;
}
.achievements__stat {
  max-width: 255px;
  width: 100%;
  display: flex;
  gap: 16px;
  padding-right: 50px;
}

.calender {
  margin-bottom: 48px;
}
.calender__inner {
  display: flex;
}
.calender__media {
  max-width: 442px;
}
.calender__content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.calender__content P {
  font-size: 14px;
  margin-bottom: 16px;
}

.customers {
  background-color: #F5F7FA;
  padding: 33px 0;
  margin-bottom: 48px;
}
.customers__inner {
  display: flex;
  justify-content: space-between;
}
.customers__media {
  max-width: 326px;
}
.customers__content {
  max-width: 748px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.customers__content p {
  font-size: 16px;
  margin-bottom: 8px;
}
.customers__list {
  display: flex;
  gap: 41px;
  align-items: center;
  margin-top: 16px;
}

.updates {
  margin-bottom: 94px;
}
.updates__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}
.updates__header {
  max-width: 626px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.updates__header p {
  font-size: 16px;
}
.updates__cards {
  display: flex;
  gap: 24px;
}
.updates__card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.updates__card-image {
  max-width: 368px;
  position: block;
  z-index: -1;
}
.updates__card-info {
  margin-top: -95px;
  background-color: #F5F7FA;
  border-radius: 8px;
  max-width: 300px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.demo {
  padding: 32px 0;
}
.demo__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-width: 680px;
  text-align: center;
}
.demo__inner h1 {
  color: #263238;
}
.demo__inner .btn {
  align-self: auto;
}

.footer {
  background-color: #263238;
  padding: 64px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  color: #F5F7FA;
}
.footer__brand {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__brand p {
  color: #F5F7FA;
  font-weight: 400;
}
.footer__socials {
  display: flex;
  gap: 16px;
}
.footer__nav {
  display: flex;
  gap: 30px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 160px;
  padding-right: 50px;
}
.footer__list li {
  color: #F5F7FA;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.footer__list li h4 {
  color: #F5F7FA;
  margin-bottom: 12px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__contact h4 {
  color: #F5F7FA;
}
.footer__email {
  background-color: rgba(245, 247, 250, 0.2);
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  color: #F5F7FA;
}
.footer__email::-moz-placeholder {
  color: #F5F7FA;
}
.footer__email::placeholder {
  color: #F5F7FA;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}/*# sourceMappingURL=style.css.map */