@import "./base/normalize";
@import "./base/variables";
@import "./base/mixins";

@import "./base/globals";
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/clients";
@import "./blocks/community";
@import "./blocks/unlock";
@import "./blocks/achievments";
@import "./blocks/calender";
@import "./blocks/customers";
@import "./blocks/updates";
@import "./blocks/demo";
@import "./blocks/footer";


@import "./blocks/style";
