.clients {
  margin-bottom: 40px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  &__list {
    padding: 25px 16px;
    display: flex;
    gap: 126px;
    max-width: 1056px;
    width: 100%;
  }

}



@include mobile {

  .clients {

    &__list {
      gap: 10px;
    }
  }
}