.customers  {
  background-color: #F5F7FA;
  padding: 33px 0;
  margin-bottom: 48px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__media {
    max-width: 100%;
    max-height: 326px;
    aspect-ratio: 1/1;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-position: center;
        display: block;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: var(--shadow-8px);
    }
  }

  &__content {
    max-width: 748px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    p {
        @include body-text(2, regular);
        color: var(--lgrey_color);
    }
  }

  &__info {
    
    p {
      @include body-text(2, medium);
      margin-bottom: 8px;  
      color: var(--grey-color);
    }
  }

  &__list {
    display: flex;
    gap: 41px;
    align-items: center;
    margin-top: 16px;
  }
}