.footer {
  background-color: #263238;
  padding: 64px 0;
  
  &__inner {
    display: flex;
    justify-content: space-between;  
  }

  &__logo {
    color: #F5F7FA;
  }

  &__brand {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    p {
      color: #F5F7FA;
      font-weight: 400; 
    } 
  }

  &__socials {
    display: flex;
    gap: 16px;
  }

  &__nav {
    display: flex;
    gap: 30px;  
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 160px;
    padding-right: 50px;

    li {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;

      a {
        color: var(--silver-color);
      }

      h4 {
        color: var(--silver-color);
        margin-bottom: 12px;
      }   
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h4{ 
      color: var(--silver-color);
    }

    .subscribe {
      
      &__wrapper {
        position: relative;
        width: 100%;
      }

      &__input {
        border: none;
        width: 100%;
        background-color: rgba($color: #F5F7FA, $alpha: 0.2);
        border-radius: 8px;
        padding: 0 12px;
        height: 40px;
        line-height: 40px;
        color: var(--silver-color);

        &::placeholder {
          color: var(--silver-color);
          line-height: inherit;
          @include body-text(3, regular);
        }
      }

      &__btn {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        border: none;
        background-color: rgba($color: #F5F7FA, $alpha: 0);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}


@include tablet {
  .footer{
    &__inner {
      flex-direction: column;
    }
  }
}