.header {
  background-color: var(--silver-color);
  
  &__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 18px 0;
    position: relative;
  }

  &__logo {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    display: flex;
    gap: 50px;
    
    @include body-text(2, regular);
  }

  &__item {
    .is_current {
      @include body-text(2, medium);
    }
  }

  &__actions {
    display: flex;
    gap: 14px;
    margin-left: auto;
    transform: translateX(24px);

    .btn--login {
      background-color: #F5F7FA;
      color: var(--primary-color); 
    }
  }
}