.header {
  background-color: var(--silver-color);
  
  &__inner {
    display: flex;
    align-items: center;
    padding: 18px 0;
    position: relative;
    
  }

  &__logo {
    margin-right: auto;
  }

  &__nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__menu {
    display: flex;
    gap: 50px;
    
    @include body-text(2, regular);
  }

  &__item {
    .is_current {
      @include body-text(2, medium);
    }
  }

  &__actions {
    display: flex;
    gap: 14px;
    margin-left: auto;

    .btn--login {
      background-color: #F5F7FA;
      color: var(--primary-color); 
    }
  }
}