.header {
  background-color: var(--silver-color);
  
  &__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 18px 16px;
    position: relative;
  }

  &__logo {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    display: flex;
    gap: 50px;
    
    @include body-text(2, regular);
  }

  &__item {
    .is_current {
      @include body-text(2, medium);
    }
  }

  &__actions {
    display: flex;
    gap: 14px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    

    .btn--login {
      background-color: #F5F7FA;
      color: var(--primary-color); 
    }

    .btn--burger {
      
      width: 30px;
      height: 24px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      background: none;
      border: none;
      
      & span, &::before, &::after {
        content: '';
        display: block;
        border-radius: 5px;
        height: 3px;
        background: var(--primary-color);
      }
    }
  }
}

@include laptop {
  .btn {
    padding: 12px 14px;
    @include body-text(3, medium);
  }
  
  .header {

    &__menu {
      gap: 24px;
    }
  }

}

@include tablet {
  .header {

  &__inner {
    display: flex;
    justify-content: space-between;
  }

    &__nav {
    display: none;
  }

  .btn {
    display: none;
  }

  .btn--burger {
    display: flex;
  }

  }


  
}

@include mobile {
  .header{

    
  }
}