.hero {
  background-color: var(--silver-color);
  padding: 96px 0 16px 0;
  margin-bottom: 40px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__track {
    display: flex;
    transition: transform 0.6s ease;
  }

  &__slider {
    overflow: hidden;
  }

  &__slide {
    min-width: 100%; 
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 660px;

    h1 {
        font-size: 68px;
    }
  }

  .btn--register {
    padding: 14px 32px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 70px;
  }

  &__dot {
    height: 10px;
    width: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 30%;
    border: none;

    &--active {
      opacity: 100%;
    }
  }
}