.calender {
  margin-bottom: 48px;

  
  &__inner {
    display: flex;

  }

  &__media {
    max-width: 442px;
    
  }

  &__content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;

    P {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
}

.customers  {
  background-color: #F5F7FA;
  padding: 33px 0;
  margin-bottom: 48px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__media {
    max-width: 326px;

  }

  &__content {
    max-width: 748px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  &__list {
    display: flex;
    gap: 41px;
    align-items: center;
    margin-top: 16px;
  }
}

.updates {
  margin-bottom: 94px;


  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
  }

  &__header {
    max-width: 626px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      font-size: 16px;
    }
  }

  &__cards {
    display: flex;
    gap:24px

  }

  &__card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    
    


    &-image {
      max-width: 368px;
      position: block;
      z-index: -1;
    }

    &-info {
      margin-top: -95px;
      background-color: #F5F7FA;
      border-radius: 8px;
      max-width: 300px;
      gap: 16px;
      display: flex;
      flex-direction: column;
      padding: 16px;
      
    }
  }
}

.demo {
  padding: 32px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 680px;
    text-align: center;
    
    h1 {
      color: #263238;
    }

    .btn {
      align-self: auto;
    }
  }
}

.footer {
  background-color: #263238;
  padding: 64px 0;
  

  &__inner {
    display: flex;
    justify-content: space-between;
    
  }

  &__logo {
    color: #F5F7FA;
  }

  &__brand {
    display: flex;
    flex-direction: column;
    gap: 40px;
    


    p {
      color: #F5F7FA;
      font-weight: 400;
    }
    
  }

  &__socials {
    display: flex;
    gap: 16px;
    
  }

  &__nav {
    display: flex;
    gap: 30px;
    
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 160px;
    padding-right: 50px;

    li {
      color: #F5F7FA;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;

      h4 {
        color: #F5F7FA;
        margin-bottom: 12px;
      }
      
    }

  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h4{ 
      color: #F5F7FA;
    }
  }

  &__email {
    background-color: rgba($color: #F5F7FA, $alpha: 0.2);
    
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    color: #F5F7FA;

    &::placeholder{
      color: #F5F7FA;
    }
  }
}