
@mixin body-text($level: 1, $weight: regular) {
    font-family: $font-main;

    @if $weight == regular {
        font-weight: $fw-regular;
    } @else if $weight == medium {
        font-weight: $fw-medium;
    }

    @if $level == 1 {
        font-size: 18px;
        line-height: 28px;
    } @else if $level == 2 {
        font-size: 16px;
        line-height: 24px;
    } @else if $level == 3 {
        font-size: 14px;
        line-height: 20px;
    } @else if $level == 4 {
        font-size: 12px;
        line-height: 16px;
    }
}